<p class="help-block my-3">
  <span *ngIf="control && control.hasError('required') && control.touched">
    <ng-container *ngFor="let error of getErrorKeys()">
      {{ getErrorMessages(error) }}
    </ng-container>
  </span>

  <span *ngIf="control && control.hasError('minlength') && control.touched">
    <ng-container *ngFor="let error of getErrorKeys()">
      {{ getErrorMessages(error) }}
    </ng-container>
  </span>

  <span
    *ngIf="
      control &&
      control.hasError('invalidDate') &&
      control.touched &&
      control.value
    "
  >
    <ng-container *ngFor="let error of getErrorKeys()">
      {{ getErrorMessages(error) }}
    </ng-container>
    
  </span>

  <span
    class="help-block text-danger"
    *ngIf="control && control.hasError('inappropriateDate')"
  >
    <ng-container *ngFor="let error of getErrorKeys()">
      {{ getErrorMessages(error) }}
    </ng-container>

  </span>



  <span
  class="help-block text-danger"
  *ngIf="control && control.hasError('requiredEndDate')"
>
  <ng-container *ngFor="let error of getErrorKeys()">
    {{ getErrorMessages(error) }}
  </ng-container>
</span>

</p>
