<div class="container">

    <form [formGroup]="inputControlForm" (ngSubmit)=" onSubmit()">
        <div class="row justify-content-center align-items-center">

            <div class="col-md-3" *ngFor="let el of controls; let i=index;">
                <div class="mb-3" *ngIf="el.inputType === 'text'">
                    <label for="{{el.name}}" class="form-label text-info">{{el.label}}</label>
                    <input [type]="el.type" class="form-control" id="{{el.name}}" [formControlName]="el.name">
                </div>


                <div class="mb-3" *ngIf="el.inputType === 'checkbox'">
                    <input class="form-check-input" type="checkbox" [value]="el.value" id="{{el.name}}" [formControlName]="el.name" />
                    <label class="form-check-label ms-2" for="{{el.name}}"> {{el.value}} </label>
                </div>
            </div>

            <div class="col-md-3">
                <button class="btn  btn-warning mx-4" >
                    <i class="bi bi-plus"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteControl()" type="button">
                    <i class="bi bi-dash"></i>
                </button>
            </div>
        </div>



    </form>
</div>